<% provide(:title, '') %>

<h1>About Us</h1>
<p>
<p>We got disappointed by the amount of talk and lack of committed action.</p>
<p>We noticed that precommitment is powerful. </p>
<p>We noticed that accountability is powerful.</p>
<p>We walk you to acheive your goals.</p>
</p>
